.modal-view {
    display:flex;
    justify-content: center;
    position:absolute;
    min-width:100%;
    min-height:100vh;
    align-items: center;
    top: 0px;
}

.modal-view .background-layout{
    display:block;
    position:absolute;
    background-color:rgba(0,0,0,0.90);
    top:0px;
    height:100%;
    width:100%;
    box-sizing:border-box;
}

.modal-view .modal-container{
    display:block;
    position:absolute;
    min-width:500px;
    min-height:500px;
    background-color: #ffffff;
    color:black;
    z-index:1000;
    box-sizing: border-box;
    border-radius:10px;

}

.modal-view .modal-container .modal-header{
    width:100%;
    height:40px;
    border-bottom:1px solid grey;
    text-align: center;
    position:relative;
}

.modal-view .modal-container .modal-header h3{
    margin:16px 10px;
}

.modal-view .modal-container .modal-header .close-btn{
    position: absolute;
    top: 0px;
    right: 12px;
    outline:none;
    border: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    background-color: #333333;
    cursor:pointer;
}

.modal-view .modal-container .modal-header .close-btn:hover{
    transform:scale(1.2);
}

.modal-view .modal-container .modal-body{
    width:100%;
    height:auto;
    /* border-bottom:1px solid grey; */
    /* text-align: center; */

}

.modal-view .modal-container .modal-body .row{
    width:100%;
    height:auto;
    box-sizing: border-box;
    padding: 10px 20px;
}


.modal-view .modal-container .modal-body .row input{
    width:100%;
    font-size: 14px;
    padding: 10px;
    outline:none;
    border:1px solid grey;
    border-radius:5px;
    box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
}

.modal-view .modal-container .modal-body .row textarea{
    width:100%;
    font-size: 14px;
    padding: 10px;
    resize:none;
    height:180px;
    outline:none;
    border:1px solid grey;
    border-radius:5px;
    box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
}

select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

select:hover{
    cursor:pointer;
}


.button{
    float: right;
    width: auto;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button:hover{
    cursor:pointer;
}

.button:disabled{
    cursor:not-allowed;
}

